{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Booking Page</h1>

    <!-- Information Section -->
    <div class="alert alert-info">
        <p>Please fill in the form below to book your session. Select the desired date and time, and enter your details. We look forward to having you with us!</p>
    </div>

    <!-- Booking Form -->
    <form method="POST" action="{% url 'booking' %}" class="bg-light p-4 rounded shadow">
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="font-weight-bold">Your Name:</label>
            <input type="text" name="name" id="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email" class="font-weight-bold">Your Email:</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="phone" class="font-weight-bold">Your Phone Number:</label>
            <input type="tel" name="phone" id="phone" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="booking-date" class="font-weight-bold">Booking Date:</label>
            <input type="date" name="booking_date" id="booking-date" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="booking-time" class="font-weight-bold">Booking Time:</label>
            <input type="time" name="booking_time" id="booking-time" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="message" class="font-weight-bold">Special Requests/Message (optional):</label>
            <textarea name="message" id="message" class="form-control" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-4">Submit Booking</button>
    </form>
</div>

    <!-- Opening Hours Key -->
    <div id="calendar-key" class="mb-3 p-3 border rounded">
        <h3>Opening Hours Key</h3>
        <ul class="list-unstyled">
            <li><span class="color-box bg-success"></span> 10:00 - 18:00 (Standard)</li>
            <li><span class="color-box bg-warning"></span> 10:00 - 17:00 (Short Day)</li>
            <li><span class="color-box bg-primary"></span> 09:00 - 17:00 (Traditional)</li>
            <li><span class="color-box bg-purple"></span> 09:00 - 18:00 (Extended)</li>
            <li><span class="color-box bg-danger"></span> 09:00 - 21:00 (Late)</li>
            <li><span class="color-box bg-dark"></span> Closed</li>
        </ul>
    </div>

<!-- JavaScript -->
<script src="{% static 'booking.js' %}"></script>


{% endblock %}
